body {
    background-color: #AADDD9;
}
#heroGrid {
    margin: 0px 5%;
    display: inline-block;
    min-height: 500px;
    height: 70vh;
    grid-template-rows: 75% 25%;
}
.logo {
    display: inline-block;
    width: 100%;
}
.navMenu {
    margin: top 10px;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    color: #006365;
    float: right;
    display: block;
    padding-top: 18px;
    padding-right: 10px;
    margin-right: 40px;
    
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
h2 {
    font-family: 'Radley', serif;
    color: #006365;
}
h1 {
    font-family: 'Radley', serif;
    color: #006365;
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;
    
}
p {
    font-family: 'Quicksand', sans-serif;
    color: #006365;
}
#navigation {
    display: inline-block;
    flex-direction: row-reverse;
}
h4 {
    font-family: 'Radley', serif;
    color: #006365;
    width: 700px;
}
h3 {
    font-family: 'Radley', serif;
    color: #006365;
}
.flexContainer {
    display: flex;
    flex-direction:row;
    padding: 0px;
    margin: 0px;
}
.quality {
    width:33%;
    
}
.reliability {
    width:33%;
    
}
.communication {
    width:33%;
    
}
.workGrid {
    display:grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 100px;
    grid-template-areas: "gourpet" "DOI" "TBD";      
}
@media only screen and (max-width:600) {
    .flexContainer {
        flex-direction: column;
    }
    .quality {
        width: 100%;
    }
    .reliability {
        width: 100%;
    }
    .communication {
        width: 100%;
    }
    .workGrid {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gourpet"
        "DOI"
        "TBD";
    }
}